* {
  margin: 0;
  padding: 0;
  background: #050301;
  box-sizing: border-box;
}
.nav-bar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    border-radius: 20px;
    width: 70px;
    height: 70px;
    margin: 10px 0 0 20px;
    
}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    height: 100%;
}
.nav-links, a{
    color: #F8FBF8;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    font-family: "Roboto",sans-serif;
}
.nav-links:hover, a:hover{
    color: #FFC000;
    transition: 0.3s;
}

 ul li:last-child a{
    border: 1.5px solid #FFC000;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
}
.nav-menu li:last-child a:hover {
  color: #050301;
  background-color: #FFC000;
  transition: 0.5s;
}
.O-nas {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  height: 100vh;              
  gap: 80px;                  
  color: #f8fbf8;
  margin: 0 auto;             
  max-width: 1200px;          
}

.O-nas-left {
  flex: 1;  
  font-family: Lobster, sans-serif;   
  display: flex;
  flex-direction: column;
  gap: 20px;               
}
.O-nas-h1{
    font-size: 50px;
    color: #FFC000;
}
.O-nas-btn{
    width: 200px;
    height: 50px;
    border: 1.5px solid #FFC000;
    color: #F8FBF8;
    border-radius: 10px;
    font-size: 20px;
    font-family: Lobster,sans-serif;
}
.O-nas-i{
    color: #FFC000;
    font-size: 20px;
    margin-right: 10px;
}
.O-nas-span{
    color: #FFC000;
}

.O-nas-right {
  flex: 1;                    
  display: flex;
  justify-content: center;
}

.O-nas-img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.O-mnie{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.O-mnie-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.O-mnie-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    gap: 20px;
    font-family: Lobster, sans-serif;
    color: #F8FBF8;
}
.i-scissors{
    color: #FFC000;
    font-size: 30px;
}
.O-mnie-video{
    width: 100%;
    height: auto;
    max-height: 600px;
}
.O-mnie-h1{
    font-size: 50px;
    color: #FFC000;
}
.O-mnie-p{
    font-size: 20px;
    line-height: 1.6;
}
.Cennik{
    width: 100%;
    height: 100vh;
    color: #F8FBF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Lobster, sans-serif;
    font-size: 50px;
}
.Opinie{
    width: 100%;
    height: 100vh;
}
.Prace{
    width: 100%;
    height: 100vh;
}
.Mapa{
    width: 100%;
    height: 50vh;
}
.Zarezerwuj{
    width: 100%;
    height: 50vh;
}