* {
  margin: 0;
  padding: 0;
  background: #050301;
  box-sizing: border-box;
}
.nav-bar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    border-radius: 20px;
    width: 70px;
    height: 70px;
    margin: 10px 0 0 20px;
    
}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    height: 100%;
}
.nav-links, a{
    color: #F8FBF8;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    font-family: "Lobster",sans-serif;
}
.nav-links:hover, a:hover{
    color: #FFC000;
    transition: 0.3s;
}

 ul li:last-child a{
    border: 1.5px solid #FFC000;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
}
.nav-menu li:last-child a:hover {
  color: #050301;
  background-color: #FFC000;
  transition: 0.5s;
}
.O-nas {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  height: 100vh;              
  gap: 80px;                  
  color: #f8fbf8;
  margin: 0 auto;             
  max-width: 1200px;          
}

.O-nas-left {
  flex: 1;  
  font-family: Lobster, sans-serif;   
  display: flex;
  flex-direction: column;
  gap: 20px;               
}
.O-nas-h1{
    font-size: 50px;
    color: #FFC000;
}
.O-nas-btn{
    width: 200px;
    height: 50px;
    border: 1.5px solid #FFC000;
    color: #F8FBF8;
    border-radius: 10px;
    font-size: 20px;
    font-family: Lobster,sans-serif;
}
.O-nas-i{
    color: #FFC000;
    font-size: 20px;
    margin-right: 10px;
}
.O-nas-span{
    color: #FFC000;
}

.O-nas-right {
  flex: 1;                    
  display: flex;
  justify-content: center;
}

.O-nas-img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.O-mnie{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.O-mnie-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.O-mnie-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    color: #F8FBF8;
}
.i-scissors{
    color: #FFC000;
    font-size: 30px;
}
.O-mnie-video{
    width: 100%;
    height: auto;
    max-height: 600px;
}
.O-mnie-h1{
    font-size: 50px;
    font-family: Lobster, sans-serif;
    color: #FFC000;
}
.O-mnie-p{
    font-size: 20px;
    line-height: 1.6;
}
.Cennik{
    width: 100%;
    height: 100vh;
    color: #F8FBF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}
.Cennik-h1{
    color: #FFC000;
    font-family: Lobster, sans-serif;
}
.Cennik-th-U, .Cennik-th-C{
    border: 1.5px solid #FFC000;
    font-family: Lobster, sans-serif;
    padding: 15px 30px;
    font-size: 25px;
}
.Cennik-table{
    width: 60%;
    border-collapse: collapse;
    border: 1.5px solid #FFC000;
    padding: 15px 30px;
    margin-top: 30px;
}
.Cennik-tr{
    text-align: center;
    border: 1.5px solid #FFC000;
}
.Cennik-td{
    border: 1.5px solid #FFC000;
    padding: 15px 30px;
    font-size: 25px;
}
.Prace{
    width: 100%;
}
.Prace-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.Prace-h1{
    font-size: 50px;
    color: #FFC000;
    font-family: Lobster, sans-serif;
    margin-bottom: 20px;
}
.i-scissors{
    color: #FFC000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.Prace-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}
.Prace-img{
    width: 100%;
    height: auto;
    border-radius: 20px; 
}
.Mapa{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Mapa-h1{
    margin-top: 100px;
    font-size: 40px;
    color: #FFC000;
    font-family: Lobster, sans-serif;
}
.Mapa-i{
    margin-bottom: 30px;
    font-size: 30px;
    color: #FFC000;
    font-family: Lobster, sans-serif;
}
iframe{
    width: 700px;
    height: 500px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}
.Zarezerwuj{
    width: 100%;
}